/** Start Font library */
@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold'), url('Gilroy-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy'), url('Gilroy-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light'), url('Gilroy-Light.woff') format('woff');
}
/** End Font library */

/** Start Variables */
:root {
    --main-color: #4B93ff;
    --section-color: #1C2D49;
    --secound-section-color: #F5F8FE;
    --transition: 0.5s;
    --main-border-radius: 20px;
    --padding-section: 60px
}
/** Start Variables */

/** Start Global Rule */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Gilroy-Light';
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/** End Global Rule */

/** Start Components */
.special_Heading {
    text-align: center;
}
.special_Heading h2 {
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 10px;
}
.special_Heading p {
    font-size: 35px;
    font-family: 'Gilroy-Bold';
}
@media(max-width: 767px) {
    .special_Heading p  {
        font-size: 27px;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}
.special_Heading p span {
    color: var(--main-color);
}
.special_Heading_nav h3 {
    color: var(--main-color);
    margin-bottom: 10px;
}
.special_Heading_nav p {
    font-size: 30px;
    font-family: 'Gilroy-Bold';
}
@media(max-width: 767px) {
    .special_Heading_nav p{
        font-size: 27px;
        width: 350px;
    }
}
.special_Heading_nav p span {
    color: var(--main-color);
}
/** Start Components */

/** Start Header */
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header .container .logo img {
    height: 50px;
}
.header .container .icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    position: relative;
    cursor: pointer;
}
@media(min-width: 768px) {
    .header .container .icon {
        display: none;
    }
}
.header .container .icon span {
    width: 100%;
    height: 4px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.header .container ul {
    display: flex;
    align-items: center;
    z-index: 1;
}
@media(max-width: 767px) {
    .header .container ul.links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 15px;
        background-color: #eee;
        width: 200px;
        display: none;
        z-index: 1; 
    }
}
.header .container ul.links.open {
    display: flex;
}
.header .container ul.links.open::before {
    content: '';
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #eee;
    position: absolute;
    top: -29px; 
    right: 0;
}
.header .container ul.links.open li {
    width: 100%;
}
.header .container ul.links.open li a {
    padding: 15px;
    text-align: left;  /**/
    align-items: flex-start;
}
.header .container ul.links.open li:not(:last-child) {
    border-bottom: 2px solid #F5F8FE;
}
.header .container ul.links.open li a:hover {
    padding-left: 25px;
}
.header .container ul li a {
    display: block;
    font-size: 14px;
    color: black;
    padding: 0 15px;
    font-weight: bold;
    transition: var(--transition);
}
.header .container ul li a:hover {
    color: var(--main-color);
}
.header .container .cta-button {
    display: inline-flex;
    gap: 5px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: var(--main-color);
    padding: 10px 25px;
    border-radius: 30px;
}
@media(max-width: 767px) {
    .header .container .cta-button {
        display: none;
    }
}
/** End Header */

/** Start Landing */
.landing {
    height: calc(100vh - 55px);
}
@media(max-width: 767px) {
    .landing {
        height: calc(45vh + 95px);
    }
}
.landing .container {
    height: 100%;
    padding: 40px 0 0 30px;
    background-image: url(../Imge/landing.jpg);
    background-size: cover;
    background-position: center;
    border-radius: var(--main-border-radius);
    position: relative;
    object-fit: cover;
}
@media(max-width: 767px) {
    .landing .container {
        height: 40vh;
        margin: 0 15px;
        padding: 40px 0 0 ;
        border-radius: 0;
}
}
.landing .container h1 {
    padding-left: 15px;
    width: 500px;
    font-family: 'Gilroy-Heavy';
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}
@media(max-width: 767px) {
    .landing .container h1 {
        width: 250px;
        font-size: 40px;
    }
}

@media(max-width: 767px) {
    .landing .container .text {
        position: absolute;
        bottom: -130px;
        left: 0;
    }
}
.landing .container .text p {
    width: 400px;
    font-size: 14px;
    color: white;
    margin-bottom: 25px;
}
@media(max-width: 767px) {
    .landing .container .text p {
        width: fit-content;
        color: #000000;
        font-weight: bold;
    }
}
.landing .container .text .cta_button {
    display: inline-flex;
    gap: 5px;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    background-color: white;
    padding: 10px 25px;
    border-radius: 30px;
}
@media(max-width: 767px) {
    .landing .container .text .cta_button {
        background-color: var(--section-color);
        color: #fff;
    }
}
.landing .container .information_container {
    margin-top: 40px;
}
@media(max-width: 767px) {
    .landing .container .information_container {
        display: none;
    }
}
.landing .container .information_container ul.tab_menu{
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: white;
    border-radius: 10px 10px 0 0;
}
.landing .container .information_container ul.tab_menu li {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 15px;
}
.landing .container .information_container ul.tab_menu li:first-child {
    padding-left: 20px;
    color: var(--main-color);
}
.landing .container .information_container ul.tab_menu li:last-child {
    padding-right: 20px;
}
.landing .container .information_container .detail_item {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 25px 15px;
    background-color: white;
    border-radius: 0 10px 10px 10px;
}
.landing .container .information_container .detail_item .box {
    width: 150px;
    position: relative;
}
.landing .container .information_container .detail_item .box:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(-25%, -50%);
    width: 1px;
    height: 40px;
    background-color: #bebebe;
    -webkit-transform: translate(-25%, -50%);
    -moz-transform: translate(-25%, -50%);
    -ms-transform: translate(-25%, -50%);
    -o-transform: translate(-25%, -50%);
}
.landing .container .information_container .detail_item .box:first-child {
    padding-right: 20px;
}
.landing .container .information_container .detail_item .box p {
    font-size: 12px;
    font-weight: bold;
    color: #707070;
    margin-bottom: 10px;
}
.landing .container .information_container .detail_item .box span {
    display: block;
    font-family: 'Gilroy-Heavy';
    color: var(--section-color);
}
.landing .container .information_container .detail_item .box:last-child .booking_button {
    color: white;
    font-weight: bold;
    height: 100%;
    width: 40px;
    padding: 15px 20px;
    background-color: var(--main-color);
    border-radius: 5px;
}
/** End Landing */

/** Start company Overview */
.company_overview {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
@media(max-width: 767px) {
    .company_overview {
        padding-top: 50px; 
        padding-bottom: 50px; 
    }
}
.company_overview .container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-areas: "img img img img cont cont cont cont cont cont cont cont cont cont cont cont";
    gap: 40px;
    padding: 15px;
    background-color: var(--secound-section-color);
    border-radius: var(--main-border-radius);
    align-items: center;
}
@media(max-width: 767px) {
    .company_overview .container {
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media(max-width: 991px) {
    .company_overview .container {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
}
.company_overview .container .content {
    align-self: flex-start;
}
.company_overview .container .imge {
    grid-area: img;
    width: 400px;
    border-radius: var(--main-border-radius);
    overflow: hidden;
}
@media(max-width: 991px) {
    .company_overview .container .imge {
        height: 40vh;
        width: 100%;
        margin: 0 30px;
    }
}
.company_overview .container .imge img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.company_overview .container .content {
    grid-area: cont;
}
.company_overview .container .content h2 {
    font-family: 'Gilroy-Bold';
    font-size: 50px;
}
@media(max-width: 991px) {
    .company_overview .container .content h2  {
        font-size: 30px;
    }
}
.company_overview .container .content > p {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    width: 500px;
    max-width: 100%;
    margin: 30px 0;
}
@media(max-width: 991px) {
    .company_overview .container .content > p {
        width: 100%;
        max-width: 100%;
    }
}
.company_overview .container .content .stats {
    display: flex;
    gap: 80px;
}
@media(max-width: 991px) {
    .company_overview .container .content .stats {
        gap: 40px;
        width: 100%;
        max-width: 100%;
    }
}
.company_overview .container .content .stats .stat_box span{
    font-size: 30px;
    font-family: 'Gilroy-Bold';
}
.company_overview .container .content .stats .stat_box p {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 15px;
}
.company_overview .container .content a {
    display: inline-flex;
    gap: 5px;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 50px;
    background-color: var(--section-color);
    padding: 10px 25px;
    border-radius: 30px;
}
/** End company Overview */

/** Start Countries */
.countries {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.countries .container .countries_imges {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}
.countries .container .countries_imges .img_box {
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.countries .container .countries_imges .img_box:hover {
    transform: translateY(-35px);
    -webkit-transform: translateY(-35px);
    -moz-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    -o-transform: translateY(-35px);
    
}
.countries .container .countries_imges .img_box:hover img {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
.countries .container .countries_imges .img_box .img {
    position: relative;
}
.countries .container .countries_imges .img_box:hover .img::before {
    content: attr(country-name);
    font-weight: bold;
    color: white;
    opacity: 80%;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 15px));
    -webkit-transform: translate(-50%, calc(-50% - 15px));
    -moz-transform: translate(-50%, calc(-50% - 15px));
    -ms-transform: translate(-50%, calc(-50% - 15px));
    -o-transform: translate(-50%, calc(-50% - 15px));
    z-index: 4;
}
.countries .container .countries_imges .img_box:hover .img::after {
    content: attr(country-properties);
    font-weight: bold;
    color: #fff;
    opacity: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 15px));
    -webkit-transform: translate(-50%, calc(-50% + 15px));
    -moz-transform: translate(-50%, calc(-50% + 15px));
    -ms-transform: translate(-50%, calc(-50% + 15px));
    -o-transform: translate(-50%, calc(-50% + 15px));
    z-index: 4;
}
.countries .container .countries_imges .img_box .img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
@media(max-width: 767px) {
    .countries .container .countries_imges .img_box .img img {
        height: 450px;
    }
}
.countries .container .countries_imges .img_box .text {
    text-align: center;
}
.countries .container .countries_imges .img_box .text span {
    display: block;
    font-size: 18px;
    font-family: 'Gilroy-Bold';
    color: var(--section-color);
    margin: 10px 0;
}
.countries .container .countries_imges .img_box .text p {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Gilroy-Bold';
    color: var(--main-color);
}
/** End Countries */

/** Start properties */
.Properties {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.Properties .special_Heading p {
    font-size: 20px;
    margin-bottom: 100px;
}
.Properties .container {
    background-color: var(--secound-section-color);
    padding: 40px 15px;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
}
@media(max-width: 767px) {
    .Properties .container {
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media(max-width: 767px) {
    .Properties .container .special_Heading_nav {
        display: flex;
        flex-direction: column;
        align-items: self-start;
    }
}
.Properties .container .special_Heading_nav .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width: 767px) {
    .Properties .container .special_Heading_nav .text {
        flex-direction: column;
        justify-content: flex-start;
    }
    /* .Properties .container .special_Heading_nav .text p {
        padding-left: 15px;
    } */
}
.Properties .container .special_Heading_nav a {
    display: inline-flex;
    gap: 5px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: var(--main-color);
    padding: 10px 25px;
    border-radius: 30px;
}
@media(max-width: 767px) {
    .Properties .container .special_Heading_nav a {
        align-self: flex-start;
        margin-top: 20px;
    }
}
.Properties .container .properties_content {
    margin-top: 60px;
    display: flex;
    gap: 30px;
}
@media (max-width: 991px) {
    .Properties .container .properties_content {
        flex-direction: column;
        align-items: center; 
        gap: 20px;
    }
}    
.Properties .container .properties_content .property_detail{
    flex: 1;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width: 991px) {
    .Properties .container .properties_content .property_detail {
        width: 100%;
    }
}
.Properties .container .properties_content .property_detail .image img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Properties .container .properties_content .property_detail span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: var(--section-color);
    margin-top: 20px;
}
.Properties .container .properties_content .property_detail ul {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0 20px;
}
@media(max-width: 767px) {
    .Properties .container .properties_content .property_detail ul{
        flex-wrap: wrap;
    }
}
.Properties .container .properties_content .property_detail ul li:first-child {
    font-size: 16px;
    font-weight: bold;
    color: var(--main-color);
}
.Properties .container .properties_content .property_detail ul li:not(:first-child) {
    font-size: 12px;
    color: #707070;
}
.Properties .container .properties_content .property_detail p {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4;
}
.Properties .container .properties_content .property_detail p  a {
    color: var(--main-color);
}
.Properties .container .properties_content .property_detail > a {
    margin-top: 15px;
    display: inline-flex;
    gap: 5px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: var(--section-color);
    padding: 10px 25px;
    border-radius: 30px;
}
.Properties .container .properties_content .property_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
@media (max-width: 991px) {
    .Properties .container .properties_content .property_list {
        width: 100%;
    }
}
.Properties .container .properties_content .property_list .box {
    width: 450px;
    background-color: white;
    display: flex;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media(max-width: 991px) {
    .Properties .container .properties_content .property_list .box {
        width: 100%; 
        max-width: 100%;
        flex-direction: row;
    }
}
.Properties .container .properties_content .property_list .box .image{
    width: 250px;
}
@media(max-width: 767px) {
    .Properties .container .properties_content .property_list .box .image {
        width: 200px;
    }
} 
.Properties .container .properties_content .property_list .box .image img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Properties .container .properties_content .property_list .box .text span {
    display: block;
    font-family: 'Gilroy-Heavy';
    color: var(--section-color);
    margin-bottom: 30px;
}
.Properties .container .properties_content .property_list .box .text .active{
    color: var(--main-color);
}
.Properties .container .properties_content .property_list .box .text ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.Properties .container .properties_content .property_list .box .text ul li {
    gap: 5px;
    font-size: 16px;
    color: #707070;
}
@media(max-width: 767px) {
    .Properties .container .properties_content .property_list .box .text ul li {
        font-size: 14px;
    }
}
/** End properties */

/** Start About */
.about {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-color);
    position: relative;
}
.about .container .special_Heading_nav h3,
.about .container .special_Heading_nav p{
    color: white;
}
.about .container .about_logo {
    width: 280px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    right: 50px;
}
@media(max-width: 991px) {
    .about .container .about_logo {
        display: none;
    }
}
.about .container .about_content {
    margin-top: 60px;
    display: flex;
    gap: 80px;
}
@media(max-width: 991px) {
    .about .container .about_content {
        flex-direction: column;
    }
}
.about .container .about_content .image {
    width: 350px;
    height: 450px;
}
@media(max-width: 991px) {
    .about .container .about_content .image {
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.about .container .about_content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.about .container .about_content .content {
    flex: 1;
    color: white;
}
.about .container .about_content .content  .text_box {
    margin-bottom: 80px;
    position: relative;
}
@media(max-width: 767px) {
    .about .container .about_content .content  .text_box {
        padding-left: 50px;
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    .about .container .about_content .content  .text_box {
        padding-left: 70px; 
    }
}
.about .container .about_content .content  .text_box::after {
    content: "";
    position: absolute;
    width: calc(100% + 45px);
    height: 1px;
    background-color: white;
    bottom: -40px;
    right: 0;
}
@media(max-width: 991px) {
    .about .container .about_content .content  .text_box::after {
        width: 100%;
    }
}
.about .container .about_content .content  .text_box h3 {
    margin-bottom: 15px;
    position: relative;
}
.about .container .about_content .content .text_box h3::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: -5px;
    left: -50px;
    font-size: 15px;
    color: var(--section-color);
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about .container .about_content .content .text_box:first-child h3::before {
    content: '\e098';
}
.about .container .about_content .content .text_box:nth-child(2) h3::before {
    content: '\f058';
}
.about .container .about_content .content .text_box:nth-child(3) h3::before {
    content: '\f505';
}
.about .container .about_content .content  .text_box p {
    font-size: 12px;
}
.about .container .about_content .content a {
    margin-top: 15px;
    display: inline-flex;
    gap: 5px;
    font-size: 12px;
    color: var(--section-color);
    font-weight: bold;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 30px;
}
@media(max-width: 991px) {
    .about .container .about_content .content a {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
}
/** End About */

/** Start Our Team */
.ourteam {
    padding-top: calc(var(--padding-section) + 60px);
    padding-bottom: var(--padding-section);
}
.ourteam .container .special_Heading p:last-child {
    font-size: 14px;
    width: 700px;
    margin: 30px auto 0;
    font-family: 'Gilroy-Light';
    font-weight: bold;
}
@media(max-width: 767px) {
    .ourteam .container .special_Heading p:last-child {
        width: 100%;
        max-width: 100%;
    }
}
.ourteam .container .ourteam_container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}
@media(max-width: 767px) {
    .ourteam .container .ourteam_container {
        padding: 0 15px;
    }
}
.ourteam .container .ourteam_container .ourteam_box {
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.ourteam .container .ourteam_container .ourteam_box:hover {
    transform: translateY(-35px);
    -webkit-transform: translateY(-35px);
    -moz-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    -o-transform: translateY(-35px);
}
.ourteam .container .ourteam_container .ourteam_box:hover .image + span + span + .member_socials ul{
    transform: translateY(0);
    opacity: 1;
}
.ourteam .container .ourteam_container .ourteam_box .image {
    padding: 15px;
    border: 1px solid #bebebe;
    border-radius: 20px;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.ourteam .container .ourteam_container .ourteam_box .image img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
@media(max-width: 767px) {
    .ourteam .container .ourteam_container .ourteam_box .image img {
        height: 450px;
    }
}
.ourteam .container .ourteam_container .ourteam_box span {
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Gilroy-Bold';
}
.ourteam .container .ourteam_container .ourteam_box span:first-of-type {
    font-size: 25px;
    color: var(--section-color);
    margin-top: 30px;
}
.ourteam .container .ourteam_container .ourteam_box span:last-of-type {
    font-size: 14px;
    color: var(--main-color);
    font-weight: bold;
    margin-top: 5px;
}
.ourteam .container .ourteam_container .ourteam_box .member_socials{
    overflow: hidden;
}
.ourteam .container .ourteam_container .ourteam_box .member_socials ul {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    transform: translateY(50px); 
    opacity: 0;
    transition: var(--transition);
}
.ourteam .container .ourteam_container .ourteam_box ul li:hover i{
    background-color: #1c2d49cd;
}
.ourteam .container .ourteam_container .ourteam_box ul li i {
    width: 40px;
    color: white;
    background-color: var(--section-color);
    padding: 10px 0;
}
.ourteam .container .more {
    width: 100%;
    text-align: center;
}
.ourteam .container .more a {
    margin-top: 40px;
    display: inline-flex;
    gap: 5px;
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    background-color: var(--section-color);
    padding: 10px 30px;
    border-radius: 30px;
    
}
/** End Our Team */

/** Start Testmonials */
.testmonials {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.testmonials .container .special_Heading p:last-child {
    font-size: 14px;
    width: 500px;
    margin: 30px auto 0;
    font-family: 'Gilroy-Light';
    font-weight: bold;
}
@media(max-width: 767px) {
    .testmonials .container .special_Heading p:last-child {
        width: 100%;
        max-width: 100%;
    }
}
.testmonials .container .testimonials_cards {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
}
@media(max-width: 1199px) {
    .testmonials .container .testimonials_cards {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }
}
.testmonials .container .testimonials_cards .card {
    -o-border-radius: 20px;
    border: 1px solid #bebebe;
    padding: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    min-width: 370px;
}
.testmonials .container .testimonials_cards .card .stars {
    display: flex;
    margin-bottom: 20px;
}
.testmonials .container .testimonials_cards .card .stars li i {
    color: #ffc107;
}
.testmonials .container .testimonials_cards .card p {
    color: #777;
    margin-bottom: 20px;
}
.testmonials .container .testimonials_cards .card .info_container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.testmonials .container .testimonials_cards .card .info_container img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testmonials .container .testimonials_cards .card .info_container .info span {
    display: block;
}
.testmonials .container .testimonials_cards .card .info_container .info span.name {
    font-size: 18px;
    font-family: 'Gilroy-Heavy';
    color: var(--section-color);
    margin-bottom: 7px;
    text-transform: capitalize;
}
.testmonials .container .testimonials_cards .card .info_container .info span.title {
    font-size: 12px;
    color: var(--main-color);
    font-family: 'Gilroy-Bold';
}
.testmonials .container .progress_bar {
    margin-top: 40px;
    width: 100%;
    height: 4px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.testmonials .container .progress_bar .progress {
    display: block;
    height: 100%;
    width: calc(100% / 3);
    background-color: var(--section-color);
}
.testmonials .container .image_slider {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
@media(max-width: 991px) {
    .testmonials .container .image_slider {
        justify-content: center;
    }
}
.testmonials .container .image_slider i{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: var(--transition);
}
.testmonials .container .image_slider .fa-arrow-left {
    background-color: var(--secound-section-color);
    color: var(--section-color);
}
.testmonials .container .image_slider .fa-arrow-right {
    background-color: var(--section-color);
    color: white;
}
/** End Testmonials */

/** Start Frequancy Questions */
.questions_section {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--secound-section-color);
}
.questions_section .container .questions_box {
    margin-top: 100px;
    display: flex;
    gap: 40px;
}
@media(max-width: 1199px) {
    .questions_section .container .questions_box {
        flex-direction: column;
        align-items: center;
    }
}
.questions_section .container .questions_box .questions_content {
    flex: 1;
    max-width: 580px;
    list-style-type:decimal ;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media(max-width: 1199px) {
    .questions_section .container .questions_box .questions_content {
        width: 100%;
        max-width: 100%;
    }
}
.questions_section .container .questions_box .questions_content li{
    font-size: 20px;
    color: var(--section-color);
    font-family: 'Gilroy-Bold';
    padding: 20px;
    background-color: white;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
@media(max-width: 1199px) {
    .questions_section .container .questions_box .questions_content li {
        margin-bottom: 30px;
    }
}
.questions_section .container .questions_box .image {
    width: 360px;
    height: 400px;
    position: relative;
}
@media(max-width: 767px) {
    .questions_section .container .questions_box .image {
        width: 280px;
        max-width: 100%;
        transform: translateX(-30px);
        -webkit-transform: translateX(-30px);
        -moz-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
        -o-transform: translateX(-30px);
}
}
.questions_section .container .questions_box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.questions_section .container .questions_box .image .overflow {
    text-align: center;
    width: 200px;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
@media(max-width: 767px) {
    .questions_section .container .questions_box .image .overflow {
    width: 150px;
    padding: 10px;
    transform: translate(40%, -50%);
    -webkit-transform: translate(40%, -50%);
    -moz-transform: translate(40%, -50%);
    -ms-transform: translate(40%, -50%);
    -o-transform: translate(40%, -50%);
}
}
.questions_section .container .questions_box .image .overflow i {
    font-size: 25px;
    color: white;
    background-color: #2BCD8F;
    width: 60px;
    padding: 17px 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media(max-width: 767px) {
    .questions_section .container .questions_box .image .overflow i {
        font-size: 20px;
        width: 40px;
        padding: 10px 0;
    }
}
.questions_section .container .questions_box .image .overflow span {
    display: block;
    color: var(--section-color);
    margin: 10px;
    font-family: 'Gilroy-Heavy';
}
.questions_section .container .questions_box .image .overflow p {
    font-size: 14px;
    color: #777;
    font-weight: bold;
    margin-bottom: 20px;
}
@media(max-width: 767px) {
    .questions_section .container .questions_box .image .overflow p {
        font-size: 12px;
    }
}
.questions_section .container .questions_box .image .overflow a {
    display:flex;
    justify-self: center;
    width: fit-content;
    padding: 10px 20px;
    color: white;
    background-color: var(--main-color);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
@media(max-width: 767px) {
    .questions_section .container .questions_box .image .overflow a {
        font-size: 14px;
    }
}
/** End Frequancy Questions */

/** Start Blog Section */
.blog {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    overflow: hidden; 
}
.blog .container .images_container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap; 
    transition: var(--transition);
}
@media(max-width: 991px) {
    .blog .container .images_container {
        flex-direction: column; 
        gap: 25px;
    }
}
.blog .container .images_container .image_box {
    flex: 1;
    height: 300px; 
    position: relative; 
    transition: var(--transition); 
    border-radius: 20px;
    overflow: hidden;
    width: 100%; 
}
.blog .container .images_container .image_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;background-color: transparent;
    height: 100%;
    background-color: #00000063;
}
@media(min-width: 992px) {
    .blog .container .images_container .image_box:hover {
        flex: 1.8; 
    }
    .blog .container .images_container .image_box:hover::before {
        background-color: rgba(0, 0, 0, 0);
    }
}
@media(max-width: 991px) {
    .blog .container .images_container .image_box {
        flex: none; 
        height: 400px; 
    }
}
.blog .container .images_container .image_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog .container .images_container .image_box .text {
    position: absolute;
    bottom: 20px; 
    left: 20px;
    right: 20px;
    z-index: 5;
}
.blog .container .images_container .image_box .text p {
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.blog .container .images_container .image_box .text a {
    display: inline-flex;
    gap: 5px;
    font-size: 12px;
    text-transform: capitalize;
    color: var(--section-color);
    font-weight: bold;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    transition: var(--transition);
}
.blog .container .images_container .image_box .text a:hover {
    background-color: var(--main-color);
    color: white;
}
.blog .container .progress_bar {
    margin-top: 40px;
    width: 100%;
    height: 4px;
    background-color: #eee;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.blog .container .progress_bar .progress {
    display: block;
    height: 100%;
    width: calc(100% / 3);
    background-color: var(--section-color);
}
.blog .container .image_slider {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
@media(max-width: 991px) {
    .blog .container .image_slider {
        justify-content: center;
    }
}
.blog .container .image_slider i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: var(--transition);
}
.blog .container .image_slider .fa-arrow-left {
    background-color: var(--secound-section-color);
    color: var(--section-color);
}
.blog .container .image_slider .fa-arrow-right {
    background-color: var(--section-color);
    color: white;
}
/** End Blog Section */

/** Start Contact */
.contact {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-image: url(../Imge/contact.jpg);
    background-size: cover;
    position: relative;
}
.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000038;
}
.contact .container {
    position: relative;
    z-index: 1;
    text-align: center;

}
.contact .container span {
    color: white;
    opacity: .4;
    text-transform: uppercase;
    font-family: 'Gilroy-Light';
}
.contact .container p {
    display: flex;
    justify-self: center;
    color: white;
    font-size: 30px;
    font-family: 'Gilroy-Bold';
    width: 750px;
    margin-top: 20px;
}
@media(max-width: 767px) {
    .contact .container p {
        font-size: 16px;
        width: 100%;
        max-width: 100%;
    }
}
.contact .container form {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 40px;
    width: 450px;
    gap: 20px;
    margin-top: 30px;
}
@media(max-width: 767px) {
    .contact .container form {
        width: 230px;
        max-width: 100%;
        flex-direction: column;
        gap: 10px;
    }
}
.contact .container form input {
    border: none;
    outline: none;
    padding: 10px;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contact .container form input[type="email"] {
    width: calc(100% - 180px);
    padding-left: 30px;
}
@media(max-width: 767px) {
    .contact .container form input[type="email"] {
        width: 100%;
        max-width: 100%;
    }
}
.contact .container form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
/** End Contact */

/** Start Footer */
.footer {
    padding-top: var(--padding-section);
    padding-bottom: 40px;
    background-color: var(--section-color);
    color: white;
}
.footer .container .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}
.footer .container .logo img {
    width: 50px;
}
.footer .container .logo h1 {
    font-size: 22px;
    font-family: 'Gilroy-Bold';
    letter-spacing: 1.2px;
}
.footer .footer_content {
    display: flex;
    justify-content: space-between;
    gap: 50px; 
}
@media (max-width: 991px) {
    .footer .footer_content {
        flex-direction: column;
        gap: 40px;
    }
}
.footer .footer_content .text {
    flex: 1;
    line-height: 1.8;
    color: #ccc;
    font-size: 14px;
    max-width: 300px;
}
.footer .links_container {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 100px;
}
@media (max-width: 767px) {
    .footer .links_container {
        justify-content: space-between;
        padding: 0 50px;
    }
}
.footer .links_container h6 {
    color: #999;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.footer .links_container ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer .links_container ul li a {
    color: white;
    font-size: 12px;
    transition: var(--transition);
}
.footer .links_container ul li:hover a {
    color: var(--main-color);
    padding-left: 5px;
}
.footer .contact_us {
    min-width: 200px;
}
@media (max-width: 767px) {
    .footer .contact_us {
        text-align: center;
    }
}
.footer .contact_us .icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .footer .contact_us .icons {
        justify-content: center;
    }
}
.footer .contact_us .icons li a i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff33;
    transition: var(--transition);
    color: white;
}
.footer .contact_us .icons li a:hover i {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.footer .contact_us span {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}
.footer .contact_us h6 {
    margin-top: 20px;
    margin-bottom: 15px;
}
.footer .container hr{
    width: 60%;
    display: flex;
    justify-self: center;
    margin: 60px 0;
    opacity: 0.8;
}
.footer .container .copyrights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
}
.footer .container .copyrights p {
    color: #fff;
}
.footer .container .copyrights span{
    font-family: 'Gilroy-Bold';
    color: var(--main-color);
    border-bottom: 1px solid #4B93ff;
}
.footer .container .copyrights span a {
    color: var(--main-color);

}
/** End Footer */